.maincontainer{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%%;
	grid-row-gap: 40px;
	grid-column-gap: 45px;
	font-family: "serif";
	

}
header{

	grid-column: 4 span;
	color:white;
	background-color: #03fc5e;
	text-align: center;
	width: 100%;
	height:190px;

}
.innermenu{
	display:flex;
	align-items: center;
	margin:25px 10px auto;
	border:3px solid white;
    height:70%;
	width:50%;
	display:inline-block;
	background-color: #03fc5e;

}
.JobT {
	font-size:12px;

}
.contact-box{
	width: 300px;
	height:150%;
	background-color:#E4E7E8;
	grid-column: 2/3;

	
	
}
.info{
	
	grid-column: 3/4;
	width: 600px;
	height:150%;
	
}

.profile{
	border-radius: 50%;
	position:relative;
	left:30px;
	top:20px;
	height:230px;
	width:230px;
}
.im1,.im2{

	height:30px;
	width:40px;
	position:relative;
	left:30px;
	display:inline;
	font-size: 15px;



}
.im2{
	position:relative;
	left:35px;
	bottom: 8px;
}
h2.im1 {
	font-size: 25px;
}
.contact-box hr{

	width: 250px;
}
.workexp,.edu, .Skills{
	display: grid;
	grid-template-columns: 150px  200px;
	grid-column-gap: 200px;
}
.Skills{
grid-row-gap: 500px;
}